@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Borel&family=Dosis:wght@200&family=Lobster&family=Lobster+Two&family=Poppins:ital,wght@0,300;0,600;1,300&family=Rajdhani:wght@300;500&family=Vampiro+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/* ==============Common  codes========================= */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* ======================================== */

:root {
  --white: white;
  --black: black;
}
/* ======================================== */

.nav-bar{
  height: 80px;
  background-color: rgb(209, 117, 117);
}
.nav-bar .nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}

.nav-bar .nav ul .left {
  display: flex;
  align-items: center;
  width: 40%;
  overflow: hidden;
}

.nav-bar .nav ul .left a {
  color: var(--black);
}

.nav-bar .nav {
  background-color: white;
}

.nav-bar .nav ul .left li:nth-child(1) {
  height: 50px;
  width: 50px;
}

.nav-bar .nav ul .left li:nth-child(1) img {
  width: 80px;
  height: 45px;
  margin-left: 40px;
}

.nav-bar .nav ul .left li {
  margin-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  padding: 2%;
  height: 100%;
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: center;
}

.nav-bar .nav ul .left li:nth-child(1) {
  height: 80px;
  width: 50px;
  margin-left: 0%;
  display: flex;
  align-items: center;
}

.nav-bar .nav ul .left li:hover {
  background: linear-gradient(#56277d73, #2e494d, #269c5a);
  color: white;
  transition-duration: 0.3s;
}

.nav-bar .nav ul .left li:nth-child(1):hover {
  background-color: transparent;
}

.nav-bar .nav .right {
  width: 60%;
  display: flex;
  justify-content: right;
}

.nav-bar .nav .right .icon {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
  justify-content: center;
}

.nav-bar .nav .right .icon li {
  margin-left: 5%;
}

.nav-bar .nav .right .buttons {
  display: flex;
  align-items: center;
}
.nav-bar .nav .right .buttons button {
  height: 45px;
  margin-right: 2%;
  width: 150px;
  border-radius: 75px 75px;
  font-family: open sans-serif;
  font-weight: bolder;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  background: linear-gradient(#56277d73, #2e494d, #269c5a);
}

/* .nav-bar .nav .right .buttons button:nth-child(1) {
  width: 80px;
  background-color: #282a35;
}
.nav-bar .nav .right .buttons button:nth-child(2) {
  background-color: #ffb3bb;
  color: black;
}
.nav-bar .nav .right .buttons button:nth-child(3) {
  background-color: #fff080;
  color: black;
}

.nav-bar .nav .right .buttons button:last-child {
  background-color: rgb(119, 228, 119);
  color: black;
} */

/* <!-- ===============Main Section Start============== --> */
.hero-section {
  width: 100%;
  min-height: 600px;
  /* background:linear-gradient(orange,blue,purple); */
  background: linear-gradient(#56277d73, #2e494d, #269c5a);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 45px 45px;
}

.slider .hero-slider {
  display: flex;
  overflow: auto;
  scrollbar-color: var(--black);
}

.slider .hero-slider li {
  padding: 15px;
}

.slider .hero-slider li:hover,
.slider .hero-slider li:active {
  background: linear-gradient(#56277d73, #2e494d, #269c5a);
}
.slider .hero-slider li a {
  color: #442f2f;
  font-size: 20px;
  font-weight: bold;
}
.hero-top-text h1 {
  margin-top: 5%;
  font-size: 60px;
  font-weight: 800;
  color: var(--white);
}
.hero-top-text h1::selection {
  color: orangered;
  background-color: black;
}
.hero-mid-text p {
  font-size: 40px;
  font-weight: 800px;
  color: peru;
}
.hero-input-search input[type="search"] {
  padding: 20px;
  margin: 15px;
  border-radius: 45px;
  width: 36%;
  font-size: 18px;
  font-weight: bold;
}

.hero-link-about a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-decoration: underline;
}

.hero-link-about a:hover{
  color: peru;
}